<section data-type="sidebar">
    <header>
        <h1><%= i18n.t('Menu') %></h1>
    </header>
    <nav>
        <ul>
            <li><a href="#configuration"><%= i18n.t('Configuration') %></a></li>
        </ul>
    </nav>
</section>

<section id="drawer" role="region" class="main-region full-height">
    <header>
        <a href="#"><span class="icon icon-menu">hide sidebar</span></a>
        <a href="#drawer"><span class="icon icon-menu">show sidebar</span></a>
        <menu id="main-toolbar" type="toolbar">
        </menu>
        <h1>
            Personal Finance
        </h1>
    </header>
    <ul id="main-tab" role="tablist"></ul>
    <section class="layer-container" id="content-layer-container">
        <div class="layer active loading"></div>
    </section>
</section>
