<section role="region">
    <header>
        <a href="javascript:require('app').router.back();">
            <span class="icon icon-back">back</span>
        </a>
        <menu type="toolbar">
        </menu>
        <h1>
            <%= i18n.t('movement.add_movement') %>
        </h1>
    </header>
    <section class="body-content">
        <form id="form-movement-insert">
            <div class="grid grid-pad">
                <div class="row">
                    <div class="col-1-1">
                        <select data-bind="value:movement_type,events:['change']">
                            <option value="income"><%= i18n.t('income') %></option>
                            <option value="expense"><%= i18n.t('expense') %></option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1-1">
                        <input data-bind="value:description,events:['keyup']" type="text" placeholder="<%= i18n.t('movement.description') %>" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-1-2">
                        <div class="input input-currency">
                            <div class="side-prefix">
                                <%= require('services/currency').getPreffix() %>
                            </div>
                            <div class="side-decimal">
                                <input placeholder="00" class="ignore-invalid" type="number" min="0" step="0.01" />
                            </div>
                            <div class="side-comma">
                                <%= require('services/currency').getComma() %>
                            </div>
                            <div class="side-integer">
                                <input placeholder="0" class="ignore-invalid" type="number" min="0" step="0.01" />
                            </div>
                        </div>
                    </div>

                    <div class="col-1-2">
                        <input type="date" placeholder="<%= i18n.t('movement.start_date') %>" data-bind="value:start_date,events:['change','keyup']" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-1-1">
                        <%= i18n.t('movement.must_repeat') %> 
                        <label class="pack-switch" style="padding-left:1rem;">
                            <input type="checkbox" data-bind="checked:repeated,events:['click','change']">
                            <span></span>
                        </label>
                    </div>
                </div>

                <div data-bind="css:{display:repeated_display}">
                    <h2><%= i18n.t('movement.repeat_every') %></h2>

                    <div class="row">
                        <div class="col-1-3">
                            <input data-bind="value:cycle_interval,events:['keyup','change']" type="number" />
                        </div>
                        <div class="col-2-3">
                            <select data-bind="value:cycle_type,events:['change']">
                                <option value=""><%= i18n.t('movement.no_repeats') %></option>
                                <option value="day"><%= i18n.t('movement.day') %></option>
                                <option value="week"><%= i18n.t('movement.week') %></option>
                                <option value="month"><%= i18n.t('movement.month') %></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1-2">
                            <input data-bind="value:expiration_day,events:['keyup','change']" type="number" min="1" step="1" max="31" placeholder="<%= i18n.t('movement.expiration_day') %>" />
                        </div>
                        <div class="col-1-2">
                            <input data-bind="value:parcel_count,events:['keyup','change']" type="number" placeholder="<%= i18n.t('movement.amount_of_repetitions') %>" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>
